#items-page {
  .items-table {
    width: 100%;
  }

  .items-table-row {
    cursor: pointer;
    transition: color var(--transition);

    &:hover,
    &:focus {
      color: var(--accent-1);
      outline: none;
    }

    &:focus-visible {
      outline: 2px solid var(--accent-1-2);
      outline-offset: -2px;
    }
  }

  .title-row {
    justify-content: space-between;
  }
}

.drawer-form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .form-field {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 6px;
  }

  .buttons {
    gap: 8px;

    button {
      margin: 0;
      width: 100%;
    }
  }
}
