### WORKER

# production: find on Cloudflare. if the key is entirely lost, you can generate a new one and replace the one currently in use.
# development: just set to some consistent string on both the website and worker. "unset" works.
WORKER_API_KEY=unset

# production: set to the URL of the deployed worker
# development: get this from the output of running `npx wrangler dev` on the worker repo
WORKER_URL="http://127.0.0.1:8787"

### AUTH

# production: set to the base path of the website (this will probably be rentals.mathsoc.uwaterloo.ca)
# development: leave unset
NEXTAUTH_URL=https://example.com

# production: use `npx auth secret` to generate a key
# development: leave unset
AUTH_SECRET=unset

# production: obtain from Vercel. If they're not on Vercel, you'll need to regenerate these in 
#  webdev@mathsoc.uwaterloo.ca's Google Cloud Console
# development: leave unset 
GOOGLE_CLIENT_ID=unset
GOOGLE_CLIENT_SECRET=unset

# production: DO NOT SET THIS TO "true"
# development: set this to "true"
DISABLE_AUTH=true
