// Colours
:root {
  --background: #111;
  --background-2: #333;
  --background-3: #444;
  --background-hover: var(--background-2);
  --border: #fff;

  --mathsoc-pink: #ff63aa;
  --mathsoc-pink-2: #c60078;
  --mathsoc-pink-4: #ffbeef;
  --mathsoc-pink-3: #df2498;

  --accent-colour-1: var(--mathsoc-pink);
  --accent-colour-2: var(--mathsoc-grey);

  --text-color: #fff;
  --text-light: #bbb;
}

// Measurements
:root {
  --content-width: 650px;
  --navbar-height: 75px;

  --transition: 0.15s linear;
}
