// Colours
:root {
  --background: #fff;
  --background-2: #f4f4f4;
  --background-3: #a1a1a1;
  --background-hover: var(--background-2);
  --border-color: #cfcfcf;

  --pink: #ff2588;
  --mathsoc-pink: #c60078;
  --mathsoc-pink-2: #ff63aa;
  --mathsoc-pink-3: #df2498;
  --mathsoc-pink-4: #ffbeef;

  --destructive: #ad0000;

  --accent-1: var(--pink);
  --accent-2: var(--mathsoc-grey);

  --text: #313131;
  --text-light: #bbb;
}

// Other design
:root {
  --border: 1px solid var(--border-color);
}

// Measurements
:root {
  --content-width: 650px;
  --navbar-height: 75px;

  --transition: 0.15s linear;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #333;
    --background-2: #222;
    --background-3: #444;
    --background-hover: var(--background-2);
    --border: #fff;

    --pink: #ff2588;

    --destructive: #ff0000;

    --accent-1: var(--pink);
    --accent-2: var(--mathsoc-grey);

    --text: #fff;
    --text-light: #bbb;
  }
}
