.rental-row-expansion {
  &.row {
    justify-content: space-between;
    align-items: center;
  }

  color: var(--text-light);

  .renter-name,
  .due-date {
    color: var(--text);
  }

  .rental-row-expansion-info {
    gap: 2px;
  }
}
