.rental-row-expansion {
  &.row {
    justify-content: flex-end;
  }

  &.column {
    align-items: baseline;
  }

  color: var(--text-light);

  .renter-name,
  .due-date {
    color: var(--text);
  }
}
