.button,
a.button,
a.button:visited {
  padding: 16px 60px;
  border: 1px solid white;
  text-decoration: none !important;
  transition: 0.15s linear;
  margin: 8px 0;
  min-width: 250px;
  height: min-content;
  display: block;
  text-align: center;

  &.pink {
    color: var(--accent-1);
    border-color: var(--accent-1);
    &:visited {
      color: var(--accent-1);
    }

    &:hover,
    &:focus {
      background-color: var(--accent-1);
      color: white !important;

      &:visited {
        color: white !important;
      }
    }
  }

  &.destructive {
    color: var(--destructive);
    border-color: var(--destructive);
    &:visited {
      color: var(--destructive);
    }

    &:hover,
    &:focus {
      background-color: var(--destructive);
      color: white !important;

      &:visited {
        color: white !important;
      }
    }
  }

  &.white {
    color: white;
    &:visited {
      color: white;
    }
  }

  &.small {
    padding: 4px;
  }

  &:hover,
  &:focus {
    background-color: white;
    color: var(--accent-1) !important;

    &:visited {
      color: var(--accent-1) !important;
    }
  }

  &:disabled {
    color: var(--mathsoc-grey-2);
    border-color: var(--mathsoc-grey-2);
    cursor: unset;

    &:hover {
      color: var(--mathsoc-grey-2) !important;
      background-color: var(--background-color);
    }
  }
}
